.tur-commercial{
    position: relative;
}
.linear-desing{
    background: linear-gradient(270deg, #3b46f2  20%, #fd084f 100%) 0% 0%
    no-repeat padding-box;
    height: 252px;
    width: 97%;
    position: absolute;
    right: 0%;
    top: 95px;
    border-radius: 20px 0px 0px 20px;
}
.slogun-div{
    padding: 71px;
    width: 90%;
    position: absolute;
    right: 0%;
    top: 124px;
    border-radius: 20px 0px 0px 20px;
    h4{
        font-size: 40px;
    }
    p{
        font-size: 25px;
    }
}
