.buy-body {
    margin-top: 80px;
    width: 100%;
    @media (max-width: 575px) {
        width: 100%;
        margin-top: 50px;
    }
    h1 {
        font-size: 60px;
    }
    hr {
        height: 5px;
    }
    input {
        width: 50%;
        border-top: 2px;
        border-left: 2px;
        border-right: 2px;
        border-color: #9796c6;
        color: #9796c6;
    }
    h3 {
        font-size: 40px;
        @media (max-width: 575px) {
            font-size: 30px;
        }
    }
    button {
        border-radius: 50px;
    }
    img {
        @media (max-width: 575px) {
            width: 80%;
        }
    }
}
.img-1 {
    width: 200px;
    margin-top: -50px;
    z-index: -100;
}
.img-2 {
    width: 300px;
    margin-bottom: -50px;
    z-index: -100;
}
