.Commercial-Banner {
    padding: 100px 0px;
    h1 {
        font-size: 100px;
    }
}
.linear-gradient {
    background: linear-gradient(270deg, #fd084f 0%, #3b46f2 100%) 0% 0%
        no-repeat padding-box;
    height: 20px;
}
