
.contact{
    width: 1000px;
    form{
        border-radius: 20px;
        margin-bottom: -30px;
        margin-left: -30px;
    }
    input{
        border : 2px solid #E3E3E3;
        border-radius: 7px;
        background-color: #E3E3E3 !important;
    }
    textarea{
        border: 2px solid #E3E3E3;
        border-radius: 7px;
        outline: none;
        background-color: #E3E3E3 !important;
    }
}
.icon{
    border: 1px solid #292670;
    cursor: pointer;
}

