.about-bottom{
    padding: 71px;
    margin-top: 113px;
    background: url("../../../../../public/assets/images/Group 347.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @media (max-width: 575px) {
        padding: 60px 20px;
    }
    h1{
        font-size: 75px;
        @media (max-width: 1199px) {
            font-size: 16px;
        }
        @media (max-width: 767px) {
            font-size: 16px;
        }
        @media (max-width: 575px) {
            font-size: 25px;
        }
    }
    button{
        border-radius: 10px;
    }
}
