.social-feeds-main {
    padding: 40px 40px;
    .social_instagram_section{
        padding: 20px 0;
        h4 {
            text-align: left;
            font-size: 20px;
            letter-spacing: 0px;
            color: #000000;
            opacity: 1;
            margin: 0 0 20px;
        }
        .instagram_box_wrapper{
            .box_section {
                background: #504CA1 0% 0% no-repeat padding-box;
                box-shadow: 0px 7px 6px #0000004D;
                border-radius: 25px;
                opacity: 0.5;
                width: 250px;
                height: 200px;
                margin: 20px 0;
            }
        } 
        .twitter_section {
            box-shadow: 0px 7px 6px #0000004D;
            border-radius: 25px;
            opacity: 1;
            background: #292670;
            padding: 20px 10px;
            .twitter_txt_section {
                position: relative;
                border-right: 1px solid #fff;
                .twitter_txt {
                    img {
                        width: 100%;
                        height: 400px;
                        object-fit: cover;
                        border-radius: 20px;
                    }
                    p {
                        color: #FFFFFF;
                        opacity: 1;
                        font-size: 15px;
                    }
                    ul{
                        padding: 0;
                        li {
                            padding: 0 20px;
                            color: #fff;
                            list-style: none;
                            display: inline-block;
                            position: relative;
                            margin: 0;
                            &::after{
                                position: absolute;
                                z-index: 9;
                                content: "";
                                border: 1px solid #fff;
                                width: 10px;
                                height: 10px;
                                top: 6px;
                                left: 0;
                                border-radius: 50%;
                            }
                        }
                    }
                    .back_btn {
                        position: absolute;
                        bottom: 0;
                        a{
                            color: #fff;
                            font-size: 15px;
                        }
                    }
                }
            }
            
        } 
    }
}