@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/_breakpoints";

.tru-carees {
    background: linear-gradient(270deg, #fd084f 10%, #3b46f2 100%) 0% 0%
        no-repeat padding-box;
    top: 20px;
    width: 96%;
    border-radius: 20px 0px 0px 20px;
    position: absolute;
    padding-top: 20px;
    padding-left: 20px;
    right: 0%;

    @include media-breakpoint-up(sm) {
        top: 40px;
    }

    @include media-breakpoint-up(md) {
        top: 100px;
    }
}
.tru-careers-box {
    color: #fff;
    background-color: #292670;
    padding: 30px 50px 30px 50px;
    border-radius: 20px 0px 0px 20px;
    margin-bottom: -30px;
}
.tru-careers-carousel {
    padding-top: 300px;

    @include media-breakpoint-up(sm) {
        padding-top: 400px;
    }

    @include media-breakpoint-up(md) {
        padding-top: 300px;
    }
}
