.Pre-btm-banner{
    background: url("../../../../../public/assets/Group 321.png");
    background-size: cover;
    background-position: center center;
    margin-top: 129px;
    padding-top: 88px;
    padding-bottom: 88px;
    position: relative;
    height: 190vh;
}
.pr-btm-box{
 width: 70%;
 background-color: RGBA(68,65,231,0.35);
 position: absolute;
 right: 0%;
 margin-top: 44px;
 padding-top: 20px;
 padding-left: 20px;
 border-radius: 20px 0px 0px 20px;
}
.pr-btm-box-child{
background:  linear-gradient(135deg, rgba(11,10,102,0.7875525210084033) 0%, rgba(11,10,102,0.8099614845938375) 100%);
padding: 120px;
border-radius: 20px 0px 0px 20px;
margin-bottom: -30px;
}
