$small-screen: "1400px";
$tablet: "777px";
$mobile: "500px";
$small-mobile: "425px";

.blog-landing {
    .blog-landing__container {
        .blog-landing__nav {
            .blog-landing__nav-links {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                margin-left: 3rem;
                padding-top: 1.5rem;
                padding-bottom: 1.5rem;
                padding-right: 1.5rem;
                border-bottom: 2px solid #000000;

                @media (max-width: $tablet) {
                    margin-left: 0;
                    flex-wrap: nowrap;
                    overflow: auto;
                    padding-top: 0.5rem;
                    padding-bottom: 0.5rem;
                }

                button {
                    background: none;
                    outline: none;
                    border: none;
                    padding: 0.8rem 1rem;
                    text-align: left;
                    font-weight: normal;
                    font-size: 1.5rem;
                    line-height: 1;
                    font-family: "Futura PT";
                    letter-spacing: 0px;
                    color: #000000;
                    white-space: nowrap;
                    width: auto;
                    height: auto;
                    &:hover,
                    &.active {
                        font-weight: bold;
                        font-style: oblique;
                    }

                    @media (max-width: $tablet) {
                        font-size: 0.8rem;
                        padding: 0.5rem;
                        min-width: 9rem;

                        &:nth-child(1) {
                            min-width: auto;
                        }
                    }
                }
            }
        }

        .blog-landing__body {
            .blog-landing__body__row {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                padding-top: 3rem;

                .blog-landing__body__row__col {
                    width: 50%;
                    padding: 1rem;
                    margin-bottom: 2rem;

                    @media (max-width: $mobile) {
                        width: 100%;
                    }
                }
            }
        }

        .blog-landing__card {
            background: rgb(92, 90, 147);
            box-shadow: 0px 7px 6px #0000004d;
            border-radius: 1.5rem;
            overflow: hidden;

            .blog-landing__card__img {
                overflow: hidden;

                img {
                    width: 100%;
                    height: 20rem;
                    object-fit: cover;
                }
            }

            .blog-landing__cart__text {
                padding: 1rem 2rem;
                background: rgba(#292670, 0.5);
                box-shadow: 0px 7px 6px #0000004d;
                border-radius: 0px 0px 1.5rem 1.5rem;
                a {
                    display: block;
                    text-decoration: none;
                }
                p {
                    text-align: left;
                    font-weight: normal;
                    font-stretch: normal;
                    font-size: 2.1rem;
                    font-family: "Futura PT";
                    letter-spacing: 0px;
                    color: #ffffff;
                    margin-bottom: 0;

                    @media (max-width: $tablet) {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}
