@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/_breakpoints";

.join-us-container {
    padding-top: 440px;
}

.join-us-top-header {
    position: absolute;
    top: 130px;
    left: 120px !important;
    width: 90%;
    z-index: 2;
    @media (max-width: 575px) {
        width: 97%;
        left: 11px !important;
        top: 90px;
    }
}

.join-us-top-header-content {
    border-radius: 25px 0px 0px 25px;
    h2 {
        font-size: 40px;
        line-height: 53px;
        @media (max-width: 575px) {
            font-size: 20px;
        }
    }
    p {
        font-size: 25px;
        line-height: 33px;
        @media (max-width: 575px) {
            font-size: 16px;
        }
    }
    @media (max-width: 575px) {
        padding: 20px;
    }
}
.welcome-middle {
    margin-top: 80px;
    margin-bottom: 30px;
    @media (max-width: 575px) {
        margin-top: 20px;
    }
}
.join-us-top-header-content::before {
    content: "";
    background: linear-gradient(270deg, #3b46f2 0%, #fd084f 100%) 0% 0%
        no-repeat padding-box;
    position: absolute;
    height: 100%;
    width: calc(100% + 22px);
    z-index: -1;
    top: -27px;
    left: -22px;
    right: 0;
    border-radius: 25px 0px 0px 25px;
}

.join-us-bottom-header {
    position: relative;
    z-index: 2;
    background: linear-gradient(270deg, #fd084f 0%, #3b46f2 100%) 0% 0%
        no-repeat padding-box;
    border-radius: 0px 25px 25px 0px;
}

.join-us-bottom-header-content {
    position: absolute;
    width: 100%;
    top: 0px;
    border-radius: 0px 25px 25px 0px;
    padding: 30px 40px;
}

.join-us-bottom-header-content-title {
    font-size: 4.5rem;
    h1 {
        font-size: 70px;
        @media (max-width: 575px) {
            font-size: 16px;
        }
    }
    p {
        width: 90%;
        font-size: 35px;
        @media (max-width: 575px) {
            font-size: 16px;
        }
    }
}

@include media-breakpoint-only(sm) {
    .join-us-top-header-content {
        padding-top: 29px;
        padding-bottom: 16px;
        padding-left: 44px;
        padding-right: 44px;
    }

    .join-us-top-header {
        left: 150px;
    }
    .join-us-container {
        padding-top: 80px;
        padding-bottom: 70px;
    }
}

@include media-breakpoint-up(sm) {
    .join-us-top-header-content {
        padding-top: 29px;
        padding-bottom: 16px;
        padding-left: 44px;
        padding-right: 44px;
    }

    .join-us-top-header {
        left: 150px;
    }

    .join-us-container {
        padding-top: 80px;
        padding-bottom: 0px;
    }
}

@include media-breakpoint-up(lg) {
    .join-us-top-header-content {
        padding-top: 29px;
        padding-bottom: 16px;
        padding-left: 88px;
        padding-right: 82px;
    }

    .join-us-top-header {
        left: 200px;
    }

    .join-us-container {
        padding-top: 120px;
        padding-bottom: 0px;
    }
}

@include media-breakpoint-up(xxl) {
    .join-us-top-header-content {
        padding-top: 24px;
        padding-bottom: 32px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .join-us-top-header {
        left: 350px;
    }

    .join-us-container {
        padding-top: 440px;
        padding-bottom: 0px;
    }
}
