.tst-btm-bnnr{
    background: url("../../../public/assets/Group 322.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 80px;
    margin-top: 51px;
}
