.DMCAnoticePageWrap {
    padding: calc(75 / 16 * 1rem);
    font-family: "Futura PT";
    font-weight: 500;
    a {
        color: #000;
        &:hover {
            color: var(--bs-primary);
        }
    }
    h1 {
        font-size: calc(75 / 16 * 1rem);
        margin-bottom: 2rem;
    }
    h2 {
        font-size: calc(40 / 16 * 1rem);
        margin-bottom: 2rem;
    }
    h3 {
        font-size: calc(35 / 16 * 1rem);
        margin-bottom: 2rem;
    }
    p {
        font-size: calc(25 / 16 * 1rem);
        margin-bottom: 2rem;
    }
    ul {
        padding-left: 0;
        list-style: none;
        li {
            font-size: calc(25 / 16 * 1rem);
            margin-bottom: 2rem;
            text-indent: 3rem;
        }
    }

    @media (max-width: 1199px) {
        h1 {
            font-size: calc(55 / 16 * 1rem);
            margin-bottom: 2rem;
        }
        h2 {
            font-size: calc(30 / 16 * 1rem);
            margin-bottom: 2rem;
        }
        h3 {
            font-size: calc(25 / 16 * 1rem);
            margin-bottom: 2rem;
        }
        p {
            font-size: calc(20 / 16 * 1rem);
            margin-bottom: 2rem;
        }
        ul {
            li {
                font-size: calc(20 / 16 * 1rem);
                margin-bottom: 2rem;
            }
        }
    }

    @media (max-width: 767px) {
        h1 {
            font-size: calc(45 / 16 * 1rem);
            margin-bottom: 2rem;
        }
        padding: 2rem;
    }
    @media (max-width: 575px) {
        h1 {
            font-size: calc(38 / 16 * 1rem);
            margin-bottom: 2rem;
        }
        padding: 2rem;
    }
}
