.trastory-box {
    background: linear-gradient(270deg, #fd084f 0%, #3b46f2 100%) 0% 0%
        no-repeat padding-box;
    padding-top: 25px;
    padding-bottom: 170px;
    padding-left: 25px;
    border-radius: 15px 0px 0px 15px;
    width: 500px;
    position: absolute;
    right: 0;
    margin-top: 20px;
}
.trastory-child{
    padding-top: 95px;
    padding-bottom: 110px;
    padding-left: 30px;
    border-radius: 15px 0px 0px 15px;
    margin-bottom: -200px;
}
