.trastory-box {
    background: linear-gradient(270deg, #fd084f 0%, #3b46f2 100%) 0% 0%
        no-repeat padding-box;
    padding-top: 30px;
    padding-bottom: 170px;
    padding-left: 25px;
    border-radius: 15px 0px 0px 15px;
    width: 600px;
    position: absolute;
    right: 0;
    margin-top: 20px;
    top: 0%;
}
.trastory-child{
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 30px;
    border-radius: 15px 0px 0px 15px;
    margin-bottom: -200px;
    h1{
        font-size: 50px;
    }
}
.peragraph{
    width: 400px;
    font-size: 16px;
    font-weight: 500;
}
.trastory{
    padding-top: 20px;
}
