.buy-bottom {
    background: url("../../../../../public/assets/images/Group 3215.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 160px;
    padding-top: 105px;
    padding-bottom: 105px;
    h1 {
        font-size: 75px;
        text-align: center;
        color: #fff;
        @media (max-width: 575px) {
            font-size: 40px;
        }
    }
    button {
        border-radius: 10px;
    }
    @media (max-width: 575px) {
        margin-top: 60px;
    }
}
