.contact{
    width: 900px;
    form{
        border-radius: 20px;
        margin-bottom: -30px;
        margin-left: -30px;
    }
    input{
        border : 2px solid #44498C;
        border-radius: 7px;
    }
    textarea{
        border: 2px solid #44498C;
        border-radius: 7px;
        outline: none;
    }
}
.icon{
    border: 1px solid #292670;
    cursor: pointer;
}
