.Commercial-Card-Group{
    margin-top: 781px;
    h4{
        font-size: 40px;
    }
}
.linear-gradient{
    background: linear-gradient(270deg, #3b46f2  20%, #fd084f 100%) 0% 0%
    no-repeat padding-box;
    height: 315px;
}
.carousel-div{
    width: 80%;
}
