.transition {
    transition: all 2s ease-in-out;
}
.float-button {
    position: sticky;
    bottom: 0;
    button {
        width: 60px;
        height: 40px;
        border: 1px solid #716dbe;
        background-color: #fff;
        margin-right: 50px;
    }
}

.left_bar {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 8px 8px 20px #00000029;
    opacity: 1;
    padding: 10px 10px;
    position: sticky;
    z-index: 99;
    top: 0;
    height: 100vh;
    width: 220px;
    left: 0;
    ul {
        padding: 0;
        li {
            color: #716dbe;
            text-transform: uppercase;
            opacity: 1;
            list-style: none;
            line-height: 40px;
            font-size: 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            span {
                // background: #292670;
                width: 20px;
                height: 20px;
                line-height: 20px;
                text-align: center;
                color: #fff;
                border-radius: 50%;
            }
        }
    }
}

.sidePanelMain {
    background-color: #fff;
    input {
        font-size: 1.25rem;
    }
}

body.darkMode {
    .left_bar {
        background-color: var(--bs-dark-primary);
        ul {
            li {
                color: #fff;
            }
        }
    }
    .sidePanelMain {
        background-color: var(--bs-primary);
        input {
            &::placeholder {
                color: #716dbe;
            }
        }
    }
}
