.giving-bottom{
    background: url("../../../../../public/assets/Group 348.png");
    background-position: center;
    background-size: cover;
    padding: 100px;
    h1{
        font-size: 50px;
    }
    button{
        border-radius: 10px;
    }
}
