.tru-carees{
    background: linear-gradient(270deg, #fd084f  10%, #3b46f2 100%) 0% 0%
    no-repeat padding-box;
    top: 160px;
    width: 90%;
    border-radius: 20px 0px 0px 20px;
    position: absolute;
    padding-top: 20px;
    padding-left: 20px;
    right: 0%;
}
.tru-careers-box{
     color: #fff;
     background-color: #292670;
     padding: 30px 50px 30px 50px;
     border-radius: 20px 0px 0px 20px;
     margin-bottom: -30px;
     h1{
        font-size: 75px;
        font-weight: 500;
     }
}
.tru-careers-carousel{
    padding-top: 385px;
}
