.about-consumer-mission {
    margin-top: 268px;
    h1{
        font-size: 75px;
    }
    p{
        font-size: 25px;
    }
    h2{
        font-size: 40px;
    }
    img{
        position: absolute;
        right: 0%;
    }
}
