
@font-face {
    font-family: 'Futura';
    src: url('../../fonts/Futura\ Bold.TTF');
    src: url('../../fonts/Futura\ Regular.otf');
    src: url('../../fonts/Futura\ Medium.ttc');
    }

@import 'Mainsection.scss';
@import 'Sidebar.scss';
@import 'Footer.scss';
@import 'Second.scss';
@import 'Header.scss';
@import 'agent.scss';
@import 'newAgentSignupOne.scss';
@import 'newAgentSignupTwo.scss';
@import 'newAgentSignupThree.scss';
@import 'newAgentSignupFour.scss';
@import 'newAgentSignupFive.scss';
@import 'newAgentSignupSix.scss';
@import 'newAgentSignupSeven.scss';
@import 'paymentForm.scss';
@import 'thankyou.scss';

