
@font-face {
    font-family: 'Futura';
    src: url('../../fonts/Futura\ Bold.TTF');
    src: url('../../fonts/Futura\ Regular.otf');
    src: url('../../fonts/Futura\ Medium.ttc');
    }

@import 'Mainsection.scss';
@import 'Sidebar.scss';
@import 'Footer.scss';
@import 'Second.scss';
@import 'Header.scss';
@import 'agent.scss';
@import 'agent1.scss';
@import 'agent2.scss';
@import 'agent3.scss';
@import 'agent4.scss';
@import 'agent5.scss';
@import 'agent6.scss';
@import 'agent7.scss';

