.sell-banner{
    background: linear-gradient(135deg, rgba(4,0,93,0.6334908963585435) 0%, rgba(4,0,93,0.6643032212885154) 100%), url("../../../../../public/assets/images/Mask Group 37.png");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    h1{
        font-size: 75px;
        font-weight: 500;
        color: #fff;
        padding: 50px 0px 50px 170px;
    }
}
.linear-gradian{
    background: linear-gradient(270deg, #3F45EF 0%, #fd084f 100%) 0% 0%
    no-repeat padding-box;
    width: 100%;
    height: 15px;
}
