.givingBack-banner{
    h1{
        font-size: 60px;
    }
}
.giving-banner-1 {
    background: linear-gradient(
        80deg,
        rgba(16, 14, 59, 0.969625350140056) 0%,
        rgba(20, 18, 69, 0.896796218487395) 100%
    );
    border-bottom-right-radius: 20px;
}
.giving-banner-2 {
    background: linear-gradient(
        80deg,
        rgba(16, 14, 59, 0.969625350140056) 0%,
        rgba(20, 18, 69, 0.896796218487395) 100%
    );
    width: 750px;
    border-top-left-radius: 20px;
}
