.commercial-bottom{
    padding: 63px;
    h1{
        font-size: 75px;
    }
    button{
        border-radius: 10px;
    }
}
.linear-gradient{
    background: linear-gradient(270deg, #3b46f2 0%, #fd084f 100%) 0% 0%
        no-repeat padding-box;
    height: 20px;
}
