.about-smarter-agent{
    padding-top: 94px;
    padding-bottom: 94px;
    width: 97%;
    border-radius: 0px 30px 30px 0px;
    button{
        border-radius: 10px;
        font-size: 25px;
    }
    h2{
        font-size: 40px;
    }
    img{
        border-radius: 30px;
    }
}
