.p-gradiant-banner{
    background: linear-gradient(270deg, #3b46f2 10%, #fd084f 100%) 0% 0%
    no-repeat padding-box;
    width: 90%;
    padding-top: 45px;
    padding-bottom: 164px;
    border-radius: 0px 0px 20px 20px;
}
.p-b-chield{
    width: 70%;
    margin-top: -90px;
    margin-left: 16%;
    border-radius: 20px;
    padding-bottom: 30px;
    p{
        width: 90%;
        margin: auto;
        margin-top: 30px;
        font-size: 25px;
    }
    span{
        font-size: 25px;
    }
}
