.about-truStory{
    margin-top: 110px;
}
.trastory-box-2 {
    background: linear-gradient(270deg, #fd084f  0%, #3b46f2 100%) 0% 0%
        no-repeat padding-box;
    padding-top: 20px;
    padding-bottom: 90px;
    padding-left: 20px;
    border-radius: 20px 0px 0px 20px;
    width: 55%;
    position: absolute;
    right: 0;
    margin-top: 20px;
}
.trastory-child {
    border-radius: 20px 0px 0px 20px;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-bottom: -120px;
    h1{
        font-size: 75px;
    }
    h2{
        font-size: 75px;
    }
    h3{
        font-size: 45px;
    }
    p{
        font-size: 25px;
    }
}
.image{
    margin-top: 60px;
}
