.trastory-box-2 {
    background: linear-gradient(270deg, #3b46f2 0%, #fd084f 100%) 0% 0%
        no-repeat padding-box;
    padding-top: 20px;
    padding-bottom: 90px;
    padding-left: 20px;
    border-radius: 20px 0px 0px 20px;
    width: 500px;
    position: absolute;
    right: 0;
    margin-top: 20px;
}
.trastory-child {
    border-radius: 20px 0px 0px 20px;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-bottom: -120px;
}
