.prelicense-middle{
    margin-top: 162px;
}
.prelicense-gradiant{
    background: linear-gradient(270deg, #3b46f2 10%, #fd084f 100%) 0% 0%
    no-repeat padding-box;
    width: 98%;
    border-radius: 20px 0px 0px 20px;
    height: 356px;
    margin-top: 48px;
    margin-left: 2%;
}
.prilicens-card{
    height: 580px;
    border-radius: 20px;
    background-color: #292670;
    cursor: pointer;
}
.prilicens-card:hover{
 background-color: #AA2395;
}
