.smarter-container {
    position: relative;
    margin-top: 70px;
    margin-bottom: 70px;
}
.smarter-agent {
    background: linear-gradient(270deg, #3b46f2 0%, #fd084f 100%) 0% 0%
        no-repeat padding-box;
    padding-top: 20px;
    padding-left: 20px;
    border-radius: 25px 0px 0px 25px;
    width: 950px;
    position: absolute;
    right: 0;
    h3{
        font-size: 40px;
    }
    p{
        line-height: 28px;
        width: 650px;
        font-size: 20px;
    }
}
.smarter-box-2 {
    border-radius: 20px;
}
.smarter-card-anim {
    height: 20%;
    transition: all 0.5s;
    h3{
        font-size: 40px;
    }
    hr{
        height: 3px;
        background-color: #fff;
        width: 70%;
    }
}
.smarter-card-anim:hover {
    cursor: pointer;
    height: 100%;
}
