.gradient-driver{
    background: linear-gradient(270deg, #3E44EE 25%, #fd084f 100%) 0% 0%
    no-repeat padding-box;
    color: white;
    padding: 30px 30px 100px 30px;
    border-radius: 0px 20px 0px 0px;
    z-index: -10;
}
