.ab-co-differrence {
    margin-top: 300px;
    margin-bottom: 500px;
}
.about-defference-box {
    background: linear-gradient(270deg, #3b46f2 0%, #fd084f 100%) 0% 0%
        no-repeat padding-box;
    padding-top: 20px;
    padding-right: 20px;
    border-radius: 0px 25px 25px 0px;
    width: 800px;
    position: absolute;
    left: 0;
    z-index: -100;
}
.about-defference-child-box {
    border-radius: 0px 25px 25px 0px;
    margin-bottom: -30px;
}
.ab-co-d-img {
    margin-bottom: -320px;
}
