@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/_breakpoints";

.join-us-container {
    position: relative;
    margin-top: 185px;
}
.row-container{
    margin-top: 76px;
    h4{
        font-size: 40px;
    }
}
.join-us-top-header {
    z-index: 2;
    padding-left: 48px;
}

.join-us-top-header-content {
    border-radius: 25px 0px 0px 25px;
    position: relative;
}

.join-us-top-header-content::before {
    content: "";
    background: linear-gradient(270deg, #3b46f2 0%, #fd084f 100%) 0% 0%
        no-repeat padding-box;
    position: absolute;
    height: 100%;
    width: calc(100% + 22px);
    z-index: -1;
    top: -27px;
    left: -22px;
    right: 0;
    border-radius: 25px 0px 0px 25px;
}

.join-us-bottom-header {
    position: relative;
    z-index: 2;
    background: linear-gradient(270deg, #fd084f 0%, #3b46f2 100%) 0% 0%
        no-repeat padding-box;
    border-radius: 0px 25px 25px 0px;
}

.join-us-bottom-header-content {
    position: absolute;
    width: 100%;
    top: 0px;
    border-radius: 0px 25px 25px 0px;
    padding-left: 40px;
    padding-right: 40px;
}

.join-us-bottom-header-content-title {
    font-size: 4.5rem;
}

@include media-breakpoint-only(sm) {
    .join-us-top-header-content {
        padding-top: 29px;
        padding-bottom: 16px;
        padding-left: 44px;
        padding-right: 44px;
    }

    .join-us-top-header {
        left: 150px;
    }

    .join-us-container {
        padding-bottom: 70px;
    }
}

@include media-breakpoint-up(sm) {
    .join-us-top-header-content {
        padding-top: 29px;
        padding-bottom: 16px;
        padding-left: 44px;
        padding-right: 44px;
    }

    .join-us-top-header {
        left: 150px;
    }

    .join-us-container {
        padding-bottom: 0px;
    }
}

@include media-breakpoint-up(lg) {
    .join-us-top-header-content {
        padding-top: 29px;
        padding-bottom: 16px;
        padding-left: 88px;
        padding-right: 82px;
    }

    .join-us-top-header {
        left: 200px;
    }

    .join-us-container {
        padding-bottom: 0px;
    }
}

@include media-breakpoint-up(xxl) {
    .join-us-top-header-content {
        padding-top: 12px;
        padding-bottom: 32px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .join-us-top-header {
        left: 350px;
    }

    .join-us-container {
        padding-bottom: 0px;
    }
}
