// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "bootstrap/scss/functions";
@import "./components/components.scss";

// 2. Include any default variable overrides here

$default: #172b4d !default;
$primary: #292670 !default;
$dark-primary: #0f0e4d !default;
$light-primary: #575698 !default;
$primary-gray: #a6a4cf !default;
$semi-primary: #9796c6 !default;
$pink: #9c2791 !default;
$danger: #fd084f !default;
$info: #1492d1 !default;
$blue: #3b46f2 !default;
$semi-light-primary: #8583BC!default;
$full-gray: #8F8F8F !default;

$theme-colors: () !default;
$theme-colors: map-merge(
    (
        "default": $default,
        "primary": $primary,
        "primary-gray": $primary-gray,
        "dark-primary": $dark-primary,
        "light-primary": $light-primary,
        "semi-primary": $semi-primary,
        "semi-light-primary": $semi-light-primary,
        "danger": $danger,
        "info": $info,
        "pink": $pink,
        "blue": $blue,
        "full-gray" : $full-gray,
    ),
    $theme-colors
);

@import "./containers";

// 3. Include remainder of required Bootstrap stylesheets
@import "bootstrap/scss/variables";

@import "./mixin";
@import "./buttons";

@import "bootstrap/scss/root";

// 4. Include any optional Bootstrap CSS as needed
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";

@import "bootstrap/scss/helpers";

// 5. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "bootstrap/scss/utilities/api";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

a {
    text-decoration: none !important;
}

:root {
    @media (min-width: 1200px) {
        font-size: 12px;
    }
    @media (min-width: 1600px) {
        font-size: 14px;
    }
    @media (min-width: 1700px) {
        font-size: 16px;
    }

    @media (max-width: 1199px) {
        font-size: 13px;
    }
}

.obj-cover {
    object-fit: cover;
}

.cBtn {
    background-color: $pink;
    color: #fff;
    font-size: calc(25 / 16 * 1rem);
    border-radius: 14px;
    font-family: "Futura PT";
    font-weight: 600;
    &:hover {
        background-color: $default;
    }
}
