.agent-middle-card{
 cursor: pointer;
 textarea{
     outline: none;
     border-radius: 15px;
     height: 185px;
 }
}
.card-lebel{
    background-color: #9796C6;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.card-about{
    width: 90%;
    border-radius: 20px;
    left: 5%;
    button{
        top: 10px;
    }
    p{
        font-size: 25px;
    }
}
.agent-img{
    border-radius: 25px;
}
