@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/_breakpoints";

.agent-middle-card {
    width: 300px;
    cursor: pointer;
    textarea {
        outline: none;
        border-radius: 15px;
        height: 185px;
    }
    h4 {
        font-size: 25px;
    }
    p {
        font-size: 20px;
    }
}
.card-lebel {
    background-color: #292670;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.card-about {
    width: 1000px;
    height: 100%;
    border-radius: 20px;
    left: 0%;
    z-index: 3;
    position: fixed;
    button {
        top: 10px;
    }
    p {
        font-size: 20px;
    }
}
.agent-img {
    border-radius: 25px;
}
.Agent-middle {
    width: 400px;
    margin: auto;
    // @media (max-width: 575px) {
    //     width: 100%;
    // }
    @include media-breakpoint-up(sm) {
        width: 576px
    }

    @include media-breakpoint-up(md) {
        width: 800px
    }

    @include media-breakpoint-up(lg) {
        width: 992px
    }

    @include media-breakpoint-up(xl) {
        width: 1200px
    }

}
.custom-dots li {
    margin: 10px;
    @media (max-width: 575px) {
        display: none;
    }
}
