/* ensure all pages have Bootstrap CSS */
input {
    outline: none;
}
.min-height-content {
    height: min-content;
}

.nav-height {
    height: 100vh;
}

.middle-nav {
    position: absolute;
    top: 30%;
    left: 30%;
}

.icon:hover {
    cursor: pointer;
}

.massage-input {
    outline: none;
}

aside {
    position: fixed;
    width: 200px;
    height: 100%;
    top: 0;
    left: 0;
    border: 1px solid #111;
}

.side-nav {
    min-height: calc(100vh - 83px - 80px - 16px);
}


.banner-col-parents {
    cursor: pointer;
}

.banner-col-parents:hover .banner-cols {
    height: 20%;
}

.social-feed .alice-carousel__dots {
    position: absolute;
    top: -60px;
}
.footer-list {
    text-decoration: none;
    cursor: pointer;
    color: #000;
}
.tru-help-btn {
    background: linear-gradient(270deg, #1592d1 0%, #fd084f 100%) 0% 0%
        no-repeat padding-box;
    border: none;
}
.z-index-100 {
    z-index: 100;
}
