.faq-question-mark {
    top: -20px;
    width: 130px;
}
.faq-box{
    border-radius: 30px;
    margin-top: -80px;
    margin-right: -50px;
    background-color: #28256E;
}
.faq{
    background: linear-gradient(270deg, #3E44EE 25%, #fd084f 100%) 0% 0%
    no-repeat padding-box;
    margin: auto;
    width: 700px;
    margin-top: 153px;
    padding-left: 30px;
    border-radius: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
}
