@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/_breakpoints";
.description {
    width: 100%;
    margin-left: 0px;
    @include media-breakpoint-up(sm) {
        width: 70%;
        margin-left: 50px;
    }
}
