.middle-banner-container {
    background: linear-gradient(
            55deg,
            rgba(16, 14, 51, 0.7) 0%,
            rgba(16, 14, 51, 0.7) 100%
        ),
        url("../../../public/assets/consumer-bg.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
    h1 {
        font-size: 55px;
    }
    h2 {
        font-size: 45px;
    }
}
