.middle-banner-container {
    background: linear-gradient(
        55deg,
        rgba(16, 14, 51, 0.4766281512605042) 0%,
        rgba(16, 14, 51, 0.4654236694677871) 100%
      ),
      url("../../../public/assets/consumer-bg.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
    margin-top: 50px;
  }
